<a href="https://colab.research.google.com/github/Shin-Sangseok/Google_colab_practice/blob/main/colab_test_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import rc
import matplotlib.font_manager as fm

fm._rebuild()
fm.get_fontconfig_fonts()

# 디렉토리 및 파일 이름에 맞추어 변경
font_location = '../NanumSquareRoundEB.ttf'
font_name = fm.FontProperties(fname=font_location).get_name()
rc('font', family=font_name)

from google.colab import drive 
#colab이 설치되어있는 리눅스에 구글 드라이브를 연결해야함

In [ ]:
drive.mount('/content/content')

Drive already mounted at /content/content; to attempt to forcibly remount, call drive.mount("/content/content", force_remount=True).

In [ ]:
df = pd.read_csv('/content/content/MyDrive/subway_people_analysis.csv', encoding='euc-kr')
df

,날짜,호선,역번호,역명,구분,06:00 이전,06:00 ~ 07:00,07:00 ~ 08:00,08:00 ~ 09:00,09:00 ~ 10:00,...,15:00 ~ 16:00,16:00 ~ 17:00,17:00 ~ 18:00,18:00 ~ 19:00,19:00 ~ 20:00,20:00 ~ 21:00,21:00 ~ 22:00,22:00 ~ 23:00,23:00 ~ 24:00,24:00 이후
0,2020-01-01,1호선,150,서울역,승차,356,280,313,774,923,...,2972,3194,3342,3002,2857,2311,2523,1830,987,25
1,2020-01-01,1호선,150,서울역,하차,235,952,828,1043,1694,...,2286,2354,2261,1922,1696,1620,1181,768,426,77
2,2020-01-01,1호선,151,시청,승차,105,118,123,206,318,...,873,1019,1234,1383,1271,1061,991,572,217,2
3,2020-01-01,1호선,151,시청,하차,81,223,334,570,611,...,885,783,849,602,435,293,273,174,149,26
4,2020-01-01,1호선,152,종각,승차,798,366,198,236,310,...,1636,1748,1890,1879,1827,1955,1800,1259,406,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202275,2020-12-31,8호선,2825,신흥,하차,31,95,78,211,145,...,341,341,381,428,292,229,219,85,42,0
202276,2020-12-31,8호선,2826,수진,승차,112,203,475,641,311,...,210,236,226,223,121,90,109,35,19,0
202277,2020-12-31,8호선,2826,수진,하차,15,70,92,227,190,...,296,309,300,372,296,232,202,127,45,0
202278,2020-12-31,8호선,2827,모란,승차,49,88,246,314,176,...,282,234,261,282,140,86,112,45,6,0
202279,2020-12-31,8호선,2827,모란,하차,15,59,111,181,142,...,163,183,228,183,162,71,99,39,25,3

In [ ]:
df1 = df.copy()
df1

,날짜,호선,역번호,역명,구분,06:00 이전,06:00 ~ 07:00,07:00 ~ 08:00,08:00 ~ 09:00,09:00 ~ 10:00,...,15:00 ~ 16:00,16:00 ~ 17:00,17:00 ~ 18:00,18:00 ~ 19:00,19:00 ~ 20:00,20:00 ~ 21:00,21:00 ~ 22:00,22:00 ~ 23:00,23:00 ~ 24:00,24:00 이후
0,2020-01-01,1호선,150,서울역,승차,356,280,313,774,923,...,2972,3194,3342,3002,2857,2311,2523,1830,987,25
1,2020-01-01,1호선,150,서울역,하차,235,952,828,1043,1694,...,2286,2354,2261,1922,1696,1620,1181,768,426,77
2,2020-01-01,1호선,151,시청,승차,105,118,123,206,318,...,873,1019,1234,1383,1271,1061,991,572,217,2
3,2020-01-01,1호선,151,시청,하차,81,223,334,570,611,...,885,783,849,602,435,293,273,174,149,26
4,2020-01-01,1호선,152,종각,승차,798,366,198,236,310,...,1636,1748,1890,1879,1827,1955,1800,1259,406,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202275,2020-12-31,8호선,2825,신흥,하차,31,95,78,211,145,...,341,341,381,428,292,229,219,85,42,0
202276,2020-12-31,8호선,2826,수진,승차,112,203,475,641,311,...,210,236,226,223,121,90,109,35,19,0
202277,2020-12-31,8호선,2826,수진,하차,15,70,92,227,190,...,296,309,300,372,296,232,202,127,45,0
202278,2020-12-31,8호선,2827,모란,승차,49,88,246,314,176,...,282,234,261,282,140,86,112,45,6,0
202279,2020-12-31,8호선,2827,모란,하차,15,59,111,181,142,...,163,183,228,183,162,71,99,39,25,3

In [ ]:
df1.dtypes

날짜               object
호선               object
역번호               int64
역명               object
구분               object
06:00 이전          int64
06:00 ~ 07:00     int64
07:00 ~ 08:00     int64
08:00 ~ 09:00     int64
09:00 ~ 10:00     int64
10:00 ~ 11:00     int64
11:00 ~ 12:00     int64
12:00 ~ 13:00     int64
13:00 ~ 14:00     int64
14:00 ~ 15:00     int64
15:00 ~ 16:00     int64
16:00 ~ 17:00     int64
17:00 ~ 18:00     int64
18:00 ~ 19:00     int64
19:00 ~ 20:00     int64
20:00 ~ 21:00     int64
21:00 ~ 22:00     int64
22:00 ~ 23:00     int64
23:00 ~ 24:00     int64
24:00 이후          int64
dtype: object

In [ ]:
df1.info() #날짜 object로 되어있으므로 datetime으로 바꿔준다.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202280 entries, 0 to 202279
Data columns (total 25 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   날짜             202280 non-null  object
 1   호선             202280 non-null  object
 2   역번호            202280 non-null  int64
 3   역명             202280 non-null  object
 4   구분             202280 non-null  object
 5   06:00 이전       202280 non-null  int64
 6   06:00 ~ 07:00  202280 non-null  int64
 7   07:00 ~ 08:00  202280 non-null  int64
 8   08:00 ~ 09:00  202280 non-null  int64
 9   09:00 ~ 10:00  202280 non-null  int64
 10  10:00 ~ 11:00  202280 non-null  int64
 11  11:00 ~ 12:00  202280 non-null  int64
 12  12:00 ~ 13:00  202280 non-null  int64
 13  13:00 ~ 14:00  202280 non-null  int64
 14  14:00 ~ 15:00  202280 non-null  int64
 15  15:00 ~ 16:00  202280 non-null  int64
 16  16:00 ~ 17:00  202280 non-null  int64
 17  17:00 ~ 18:00  202280 non-null  int64
 18  18:00 ~ 19:00  202280 non-null  int64
 19  19:00 ~ 20:00  202280 non-null  int64
 20  20:00 ~ 21:00  202280 non-null  int64
 21  21:00 ~ 22:00  202280 non-null  int64
 22  22:00 ~ 23:00  202280 non-null  int64
 23  23:00 ~ 24:00  202280 non-null  int64
 24  24:00 이후       202280 non-null  int64
dtypes: int64(21), object(4)
memory usage: 38.6+ MB

In [ ]:
df1['날짜'] = pd.to_datetime(df1['날짜'])

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202280 entries, 0 to 202279
Data columns (total 25 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   날짜             202280 non-null  datetime64[ns]
 1   호선             202280 non-null  object
 2   역번호            202280 non-null  int64
 3   역명             202280 non-null  object
 4   구분             202280 non-null  object
 5   06:00 이전       202280 non-null  int64
 6   06:00 ~ 07:00  202280 non-null  int64
 7   07:00 ~ 08:00  202280 non-null  int64
 8   08:00 ~ 09:00  202280 non-null  int64
 9   09:00 ~ 10:00  202280 non-null  int64
 10  10:00 ~ 11:00  202280 non-null  int64
 11  11:00 ~ 12:00  202280 non-null  int64
 12  12:00 ~ 13:00  202280 non-null  int64
 13  13:00 ~ 14:00  202280 non-null  int64
 14  14:00 ~ 15:00  202280 non-null  int64
 15  15:00 ~ 16:00  202280 non-null  int64
 16  16:00 ~ 17:00  202280 non-null  int64
 17  17:00 ~ 18:00  202280 non-null  int64
 18  18:00 ~ 19:00  202280 non-null  int64
 19  19:00 ~ 20:00  202280 non-null  int64
 20  20:00 ~ 21:00  202280 non-null  int64
 21  21:00 ~ 22:00  202280 non-null  int64
 22  22:00 ~ 23:00  202280 non-null  int64
 23  23:00 ~ 24:00  202280 non-null  int64
 24  24:00 이후       202280 non-null  int64
dtypes: datetime64[ns](1), int64(21), object(3)
memory usage: 38.6+ MB

In [ ]:
df1['날짜'].dt.year #2020년도 데이터만 존재함을 알 수 있음.

0         2020
1         2020
2         2020
3         2020
4         2020
          ...
202275    2020
202276    2020
202277    2020
202278    2020
202279    2020
Name: 날짜, Length: 202280, dtype: int64

In [ ]:
df1['날짜'].dt.month #1월~12월 까지 데이터 존재 #분기별 지하철 이용 분포도를 알 수 있음.

0          1
1          1
2          1
3          1
4          1
          ..
202275    12
202276    12
202277    12
202278    12
202279    12
Name: 날짜, Length: 202280, dtype: int64

In [ ]:
df1.drop(['역번호'], axis=1)#역 번호는 데이터 분석에 큰 영향을 미치지 않으므로 제거한다.

,날짜,호선,역명,구분,06:00 이전,06:00 ~ 07:00,07:00 ~ 08:00,08:00 ~ 09:00,09:00 ~ 10:00,10:00 ~ 11:00,...,15:00 ~ 16:00,16:00 ~ 17:00,17:00 ~ 18:00,18:00 ~ 19:00,19:00 ~ 20:00,20:00 ~ 21:00,21:00 ~ 22:00,22:00 ~ 23:00,23:00 ~ 24:00,24:00 이후
0,2020-01-01,1호선,서울역,승차,356,280,313,774,923,1418,...,2972,3194,3342,3002,2857,2311,2523,1830,987,25
1,2020-01-01,1호선,서울역,하차,235,952,828,1043,1694,1655,...,2286,2354,2261,1922,1696,1620,1181,768,426,77
2,2020-01-01,1호선,시청,승차,105,118,123,206,318,309,...,873,1019,1234,1383,1271,1061,991,572,217,2
3,2020-01-01,1호선,시청,하차,81,223,334,570,611,612,...,885,783,849,602,435,293,273,174,149,26
4,2020-01-01,1호선,종각,승차,798,366,198,236,310,379,...,1636,1748,1890,1879,1827,1955,1800,1259,406,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202275,2020-12-31,8호선,신흥,하차,31,95,78,211,145,165,...,341,341,381,428,292,229,219,85,42,0
202276,2020-12-31,8호선,수진,승차,112,203,475,641,311,196,...,210,236,226,223,121,90,109,35,19,0
202277,2020-12-31,8호선,수진,하차,15,70,92,227,190,166,...,296,309,300,372,296,232,202,127,45,0
202278,2020-12-31,8호선,모란,승차,49,88,246,314,176,147,...,282,234,261,282,140,86,112,45,6,0
202279,2020-12-31,8호선,모란,하차,15,59,111,181,142,109,...,163,183,228,183,162,71,99,39,25,3

In [ ]:
df1['구분'].value_counts()

승차    101140
하차    101140
Name: 구분, dtype: int64

In [ ]:
#인덱스 호선, 역명로 가져오고 왔을 때의 시간대별 데이터프레임을 보고 싶음. 
df.groupby(['호선','역명']).mean() #호선 별, 시간대마다 이용 자 수 점이랑 직선 연결된 그래프 
#df.groupby(['호선']).mean() #분기별 이용자수 x축 : 분기 y축: 이용자수 1~9호선 각 호선별 표시

                 역번호    06:00 이전  06:00 ~ 07:00  07:00 ~ 08:00  08:00 ~ 09:00  \
호선  역명
1호선 동대문        155.0  255.668033     247.867486     388.325137     657.588798
    동묘앞        159.0   70.534153     118.312842     229.024590     455.218579
    서울역        150.0  253.642077     750.501366    1855.607923    3781.114754
    시청         151.0   88.829235     327.371585    1028.133880    2615.610656
    신설동        156.0  187.024590     261.222678     626.722678    1362.476776
...              ...         ...            ...            ...            ...
8호선 신흥        2825.0   72.592896     129.222678     238.192623     340.349727
    암사        2811.0  226.714481     470.424863    1299.120219    1820.079235
    잠실(송파구청)  2815.0   52.072404     202.215847     532.714481    1309.594262
    장지        2820.0  113.180328     381.782787    1021.983607    1571.128415
    천호(풍납토성)  2812.0  198.769126     430.524590     890.661202    1368.497268

              09:00 ~ 10:00  10:00 ~ 11:00  11:00 ~ 12:00  12:00 ~ 13:00  \
호선  역명
1호선 동대문          630.370219     577.180328     635.322404     686.562842
    동묘앞          374.105191     409.034153     565.845628     693.222678
    서울역         2568.766393    1516.515027    1520.709016    1694.640710
    시청          1324.267760     637.893443     654.155738     623.928962
    신설동          819.886612     543.457650     549.092896     560.334699
...                     ...            ...            ...            ...
8호선 신흥           222.975410     175.685792     169.890710     184.774590
    암사           966.027322     556.131148     523.995902     571.591530
    잠실(송파구청)     783.005464     457.256831     529.859290     555.549180
    장지           944.110656     560.351093     540.594262     586.677596
    천호(풍납토성)     932.706284     573.211749     565.643443     611.875683

              13:00 ~ 14:00  ...  15:00 ~ 16:00  16:00 ~ 17:00  17:00 ~ 18:00  \
호선  역명                       ...
1호선 동대문          702.255464  ...     706.370219     688.199454     700.900273
    동묘앞          814.588798  ...     857.801913     764.430328     662.476776
    서울역         1741.637978  ...    1867.695355    1989.703552    2911.151639
    시청           691.185792  ...     782.215847     821.060109    1279.590164
    신설동          605.587432  ...     633.071038     711.233607     936.683060
...                     ...  ...            ...            ...            ...
8호선 신흥           199.091530  ...     232.163934     261.349727     285.748634
    암사           581.939891  ...     636.184426     713.811475     926.933060
    잠실(송파구청)     631.881148  ...     751.282787     797.423497    1052.551913
    장지           592.722678  ...     679.689891     794.046448    1007.091530
    천호(풍납토성)     668.678962  ...     750.886612     844.569672    1094.244536

              18:00 ~ 19:00  19:00 ~ 20:00  20:00 ~ 21:00  21:00 ~ 22:00  \
호선  역명
1호선 동대문          690.327869     588.744536     429.392077     368.796448
    동묘앞          529.693989     279.612022     165.647541     149.584699
    서울역         3990.200820    2220.556011    1488.103825    1362.773224
    시청          2287.472678     932.762295     676.285519     647.681694
    신설동         1323.703552     658.646175     416.676230     380.169399
...                     ...            ...            ...            ...
8호선 신흥           369.005464     283.717213     193.362022     168.599727
    암사          1418.741803    1078.176230     645.553279     596.415301
    잠실(송파구청)    1515.001366     890.304645     666.591530     555.040984
    장지          1524.122951     996.215847     664.243169     599.322404
    천호(풍납토성)    1579.644809    1156.005464     740.457650     634.049180

              22:00 ~ 23:00  23:00 ~ 24:00   24:00 이후
호선  역명
1호선 동대문          314.173497     228.494536  32.780055
    동묘앞          119.269126      71.628415  31.721311
    서울역          936.128415     424.062842  45.622951
    시청           404.090164     152.285519   8.184426
    신설동          291.792350     163.280055  21.424863
...                     ...            ...        ...
8호선 신흥           128.431694      72.605191  12.994536
    암사           466.952186     264.943989  46.730874
    잠실(송파구청)     389.594262     152.450820  18.816940
    장지           446.560109     204.161202  20.681694
    천호(풍납토성)     496.005464     274.971311  50.512295

[285 rows x 21 columns]

In [ ]:
df.groupby(['날짜','호선','역명']).mean().head(300)

                                 역번호  06:00 이전  06:00 ~ 07:00  07:00 ~ 08:00  \
날짜         호선  역명
2020-01-01 1호선 동대문             155.0     103.5          145.0          134.0
               동묘앞             159.0      39.5           76.5           91.0
               서울역             150.0     295.5          616.0          570.5
               시청              151.0      93.0          170.5          228.5
               신설동             156.0     104.5          131.0          146.5
...                              ...       ...            ...            ...
2020-01-02 2호선 동대문역사문화공원(DDP)  205.0      70.5          223.0          573.5
               뚝섬              210.0     101.5          428.5         1082.5
               문래              235.0     113.5          438.5         1655.5
               방배              225.0     130.0          435.5         1099.5
               봉천              229.0     333.5          704.5         2076.0

                               08:00 ~ 09:00  09:00 ~ 10:00  10:00 ~ 11:00  \
날짜         호선  역명
2020-01-01 1호선 동대문                     199.5          333.0          446.5
               동묘앞                     128.0          228.0          348.5
               서울역                     908.5         1308.5         1536.5
               시청                      388.0          464.5          460.5
               신설동                     196.5          336.0          345.5
...                                      ...            ...            ...
2020-01-02 2호선 동대문역사문화공원(DDP)         1401.0         1088.0          897.5
               뚝섬                     3744.0         1933.0          831.0
               문래                     3980.0         1809.0          755.5
               방배                     2507.5         1588.0          930.5
               봉천                     3153.0         1845.0         1111.5

                               11:00 ~ 12:00  12:00 ~ 13:00  13:00 ~ 14:00  \
날짜         호선  역명
2020-01-01 1호선 동대문                     631.5          756.5          825.0
               동묘앞                     524.0          769.5          923.5
               서울역                    2167.5         2473.5         2483.0
               시청                      632.0          765.0          770.0
               신설동                     415.0          488.5          511.5
...                                      ...            ...            ...
2020-01-02 2호선 동대문역사문화공원(DDP)         1002.5          899.0         1040.5
               뚝섬                      670.0          679.5          826.5
               문래                      722.5          782.0          868.5
               방배                      760.5          837.5          870.0
               봉천                      939.5          964.5         1079.5

                               ...  15:00 ~ 16:00  16:00 ~ 17:00  \
날짜         호선  역명              ...
2020-01-01 1호선 동대문             ...          828.5          816.0
               동묘앞             ...         1015.5          951.0
               서울역             ...         2629.0         2774.0
               시청              ...          879.0          901.0
               신설동             ...          494.5          530.5
...                            ...            ...            ...
2020-01-02 2호선 동대문역사문화공원(DDP)  ...         1158.5         1321.0
               뚝섬              ...          922.0         1026.0
               문래              ...          824.5         1046.0
               방배              ...          919.5         1078.5
               봉천              ...         1182.0         1254.0

                               17:00 ~ 18:00  18:00 ~ 19:00  19:00 ~ 20:00  \
날짜         호선  역명
2020-01-01 1호선 동대문                     753.5          611.5          512.5
               동묘앞                     649.0          321.5          214.5
               서울역                    2801.5         2462.0         2276.5
               시청                     1041.5          992.5          853.0
               신설동                     485.5          483.0          393.0
...                                      ...            ...            ...
2020-01-02 2호선 동대문역사문화공원(DDP)         1675.0         2269.0         1885.5
               뚝섬                     1407.0         3335.5         1812.0
               문래                     1602.0         3347.5         1837.0
               방배                     1400.5         2404.5         1403.0
               봉천                     1536.0         2266.5         2333.0

                               20:00 ~ 21:00  21:00 ~ 22:00  22:00 ~ 23:00  \
날짜         호선  역명
2020-01-01 1호선 동대문                     424.5          418.5          291.5
               동묘앞                     162.5          153.0          110.0
               서울역                    1965.5         1852.0         1299.0
               시청                      677.0          632.0          373.0
               신설동                     345.0          353.0          303.5
...                                      ...            ...            ...
2020-01-02 2호선 동대문역사문화공원(DDP)         1325.5         1118.0          950.0
               뚝섬                      892.0          787.0          623.5
               문래                      993.5          838.5          743.5
               방배                      831.5          808.5          776.5
               봉천                     1224.0         1098.5         1122.0

                               23:00 ~ 24:00  24:00 이후
날짜         호선  역명
2020-01-01 1호선 동대문                     197.0      34.5
               동묘앞                     102.0      22.0
               서울역                     706.5      51.0
               시청                      183.0      14.0
               신설동                     171.5      31.0
...                                      ...       ...
2020-01-02 2호선 동대문역사문화공원(DDP)          502.0     166.0
               뚝섬                      284.0     108.5
               문래                      410.0     124.0
               방배                      368.5     109.0
               봉천                      597.5     206.5

[300 rows x 21 columns]

In [ ]:
df1

,날짜,호선,역번호,역명,구분,06:00 이전,06:00 ~ 07:00,07:00 ~ 08:00,08:00 ~ 09:00,09:00 ~ 10:00,...,15:00 ~ 16:00,16:00 ~ 17:00,17:00 ~ 18:00,18:00 ~ 19:00,19:00 ~ 20:00,20:00 ~ 21:00,21:00 ~ 22:00,22:00 ~ 23:00,23:00 ~ 24:00,24:00 이후
0,2020-01-01,1호선,150,서울역,승차,356,280,313,774,923,...,2972,3194,3342,3002,2857,2311,2523,1830,987,25
1,2020-01-01,1호선,150,서울역,하차,235,952,828,1043,1694,...,2286,2354,2261,1922,1696,1620,1181,768,426,77
2,2020-01-01,1호선,151,시청,승차,105,118,123,206,318,...,873,1019,1234,1383,1271,1061,991,572,217,2
3,2020-01-01,1호선,151,시청,하차,81,223,334,570,611,...,885,783,849,602,435,293,273,174,149,26
4,2020-01-01,1호선,152,종각,승차,798,366,198,236,310,...,1636,1748,1890,1879,1827,1955,1800,1259,406,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202275,2020-12-31,8호선,2825,신흥,하차,31,95,78,211,145,...,341,341,381,428,292,229,219,85,42,0
202276,2020-12-31,8호선,2826,수진,승차,112,203,475,641,311,...,210,236,226,223,121,90,109,35,19,0
202277,2020-12-31,8호선,2826,수진,하차,15,70,92,227,190,...,296,309,300,372,296,232,202,127,45,0
202278,2020-12-31,8호선,2827,모란,승차,49,88,246,314,176,...,282,234,261,282,140,86,112,45,6,0
202279,2020-12-31,8호선,2827,모란,하차,15,59,111,181,142,...,163,183,228,183,162,71,99,39,25,3

In [ ]:
df1['분기'] = 0
df1

,날짜,호선,역번호,역명,구분,06:00 이전,06:00 ~ 07:00,07:00 ~ 08:00,08:00 ~ 09:00,09:00 ~ 10:00,...,16:00 ~ 17:00,17:00 ~ 18:00,18:00 ~ 19:00,19:00 ~ 20:00,20:00 ~ 21:00,21:00 ~ 22:00,22:00 ~ 23:00,23:00 ~ 24:00,24:00 이후,분기
0,2020-01-01,1호선,150,서울역,승차,356,280,313,774,923,...,3194,3342,3002,2857,2311,2523,1830,987,25,0
1,2020-01-01,1호선,150,서울역,하차,235,952,828,1043,1694,...,2354,2261,1922,1696,1620,1181,768,426,77,0
2,2020-01-01,1호선,151,시청,승차,105,118,123,206,318,...,1019,1234,1383,1271,1061,991,572,217,2,0
3,2020-01-01,1호선,151,시청,하차,81,223,334,570,611,...,783,849,602,435,293,273,174,149,26,0
4,2020-01-01,1호선,152,종각,승차,798,366,198,236,310,...,1748,1890,1879,1827,1955,1800,1259,406,6,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202275,2020-12-31,8호선,2825,신흥,하차,31,95,78,211,145,...,341,381,428,292,229,219,85,42,0,0
202276,2020-12-31,8호선,2826,수진,승차,112,203,475,641,311,...,236,226,223,121,90,109,35,19,0,0
202277,2020-12-31,8호선,2826,수진,하차,15,70,92,227,190,...,309,300,372,296,232,202,127,45,0,0
202278,2020-12-31,8호선,2827,모란,승차,49,88,246,314,176,...,234,261,282,140,86,112,45,6,0,0
202279,2020-12-31,8호선,2827,모란,하차,15,59,111,181,142,...,183,228,183,162,71,99,39,25,3,0

In [ ]:
df1['날짜']

0        2020-01-01
1        2020-01-01
2        2020-01-01
3        2020-01-01
4        2020-01-01
            ...
202275   2020-12-31
202276   2020-12-31
202277   2020-12-31
202278   2020-12-31
202279   2020-12-31
Name: 날짜, Length: 202280, dtype: datetime64[ns]

In [ ]:
df['날짜'].value_counts()

2020-11-10    560
2020-11-16    558
2020-08-21    558
2020-12-07    558
2020-09-06    558
             ...
2020-05-28    550
2020-05-29    550
2020-05-31    550
2020-06-01    550
2020-07-02    550
Name: 날짜, Length: 366, dtype: int64

In [ ]:
#def datetime2(x): 
#  if x== '2020-01-01':
#             return '1분기'
#  elif x== '2020-04-01':
#             return '2분기' 
#  elif x== '2020-07-01':
#            return '3분기'
#  else:
#    return '4분기'

#df1['분기']=df1['분기'].apply(datetime2)
#df1

#result2 = ['1', '2', '3','4']
#index_result = []

# index1 = df[(df['날짜'] >= '2020-01-01') & (df['날짜'] <= '2020-03-31')].index #0 ~50154
# index1
# index2 = df[(df['날짜'] >= '2020-04-01') & (df['날짜'] <= '2020-06-30')].index #50154 ~100287
# index2
# index3 = df[(df['날짜'] >= '2020-07-01') & (df['날짜'] <= '2020-09-30')].index #100288~151227
# index3
#index4 = df[(df['날짜'] >= '2020-10-01') & (df['날짜'] <= '2020-12-31')].index #151228 ~ 202279 
#index4
#for x in index1:
#  df1.loc[x, '분기'] = result2[0]
#for x in index2:
#  df1.loc[x, '분기'] = result2[1]
#for x in index3:
#  df1.loc[x, '분기'] = result2[2]
#for x in index4:
#  df1.loc[x, '분기'] = result2[3]
#df1['분기']
#print(df1)

df1.loc[0:50155,'분기'] = 1
#df1.iloc[50154]
df1.loc[50155:100288,'분기'] = 2 
#print(df1.iloc[[50155]])
#print(df1.iloc[[100287]])
df1.loc[100288:151228,'분기'] = 3
df1.loc[151228:202280,'분기']= 4 
#df1.iloc[16891]
df1

,날짜,호선,역번호,역명,구분,06:00 이전,06:00 ~ 07:00,07:00 ~ 08:00,08:00 ~ 09:00,09:00 ~ 10:00,...,16:00 ~ 17:00,17:00 ~ 18:00,18:00 ~ 19:00,19:00 ~ 20:00,20:00 ~ 21:00,21:00 ~ 22:00,22:00 ~ 23:00,23:00 ~ 24:00,24:00 이후,분기
0,2020-01-01,1호선,150,서울역,승차,356,280,313,774,923,...,3194,3342,3002,2857,2311,2523,1830,987,25,1
1,2020-01-01,1호선,150,서울역,하차,235,952,828,1043,1694,...,2354,2261,1922,1696,1620,1181,768,426,77,1
2,2020-01-01,1호선,151,시청,승차,105,118,123,206,318,...,1019,1234,1383,1271,1061,991,572,217,2,1
3,2020-01-01,1호선,151,시청,하차,81,223,334,570,611,...,783,849,602,435,293,273,174,149,26,1
4,2020-01-01,1호선,152,종각,승차,798,366,198,236,310,...,1748,1890,1879,1827,1955,1800,1259,406,6,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202275,2020-12-31,8호선,2825,신흥,하차,31,95,78,211,145,...,341,381,428,292,229,219,85,42,0,4
202276,2020-12-31,8호선,2826,수진,승차,112,203,475,641,311,...,236,226,223,121,90,109,35,19,0,4
202277,2020-12-31,8호선,2826,수진,하차,15,70,92,227,190,...,309,300,372,296,232,202,127,45,0,4
202278,2020-12-31,8호선,2827,모란,승차,49,88,246,314,176,...,234,261,282,140,86,112,45,6,0,4
202279,2020-12-31,8호선,2827,모란,하차,15,59,111,181,142,...,183,228,183,162,71,99,39,25,3,4

In [ ]:
df1.loc[16890:16700:,'분기']

Series([], Name: 분기, dtype: int64)

In [ ]:
df1

,날짜,호선,역번호,역명,구분,06:00 이전,06:00 ~ 07:00,07:00 ~ 08:00,08:00 ~ 09:00,09:00 ~ 10:00,...,16:00 ~ 17:00,17:00 ~ 18:00,18:00 ~ 19:00,19:00 ~ 20:00,20:00 ~ 21:00,21:00 ~ 22:00,22:00 ~ 23:00,23:00 ~ 24:00,24:00 이후,분기
0,2020-01-01,1호선,150,서울역,승차,356,280,313,774,923,...,3194,3342,3002,2857,2311,2523,1830,987,25,1
1,2020-01-01,1호선,150,서울역,하차,235,952,828,1043,1694,...,2354,2261,1922,1696,1620,1181,768,426,77,1
2,2020-01-01,1호선,151,시청,승차,105,118,123,206,318,...,1019,1234,1383,1271,1061,991,572,217,2,1
3,2020-01-01,1호선,151,시청,하차,81,223,334,570,611,...,783,849,602,435,293,273,174,149,26,1
4,2020-01-01,1호선,152,종각,승차,798,366,198,236,310,...,1748,1890,1879,1827,1955,1800,1259,406,6,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202275,2020-12-31,8호선,2825,신흥,하차,31,95,78,211,145,...,341,381,428,292,229,219,85,42,0,4
202276,2020-12-31,8호선,2826,수진,승차,112,203,475,641,311,...,236,226,223,121,90,109,35,19,0,4
202277,2020-12-31,8호선,2826,수진,하차,15,70,92,227,190,...,309,300,372,296,232,202,127,45,0,4
202278,2020-12-31,8호선,2827,모란,승차,49,88,246,314,176,...,234,261,282,140,86,112,45,6,0,4
202279,2020-12-31,8호선,2827,모란,하차,15,59,111,181,142,...,183,228,183,162,71,99,39,25,3,4

# 새 섹션

,날짜,호선,역번호,역명,구분,06:00 이전,06:00 ~ 07:00,07:00 ~ 08:00,08:00 ~ 09:00,09:00 ~ 10:00,...,15:00 ~ 16:00,16:00 ~ 17:00,17:00 ~ 18:00,18:00 ~ 19:00,19:00 ~ 20:00,20:00 ~ 21:00,21:00 ~ 22:00,22:00 ~ 23:00,23:00 ~ 24:00,24:00 이후
0,2020-01-01,1호선,150,서울역,승차,356,280,313,774,923,...,2972,3194,3342,3002,2857,2311,2523,1830,987,25
1,2020-01-01,1호선,150,서울역,하차,235,952,828,1043,1694,...,2286,2354,2261,1922,1696,1620,1181,768,426,77
2,2020-01-01,1호선,151,시청,승차,105,118,123,206,318,...,873,1019,1234,1383,1271,1061,991,572,217,2
3,2020-01-01,1호선,151,시청,하차,81,223,334,570,611,...,885,783,849,602,435,293,273,174,149,26
4,2020-01-01,1호선,152,종각,승차,798,366,198,236,310,...,1636,1748,1890,1879,1827,1955,1800,1259,406,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50149,2020-03-31,8호선,2825,신흥,하차,24,79,94,209,165,...,204,275,306,560,457,273,230,188,89,66
50150,2020-03-31,8호선,2826,수진,승차,139,219,578,770,382,...,144,191,192,222,115,86,69,47,23,1
50151,2020-03-31,8호선,2826,수진,하차,18,71,88,222,157,...,238,222,300,498,485,252,240,202,113,47
50152,2020-03-31,8호선,2827,모란,승차,52,100,304,426,234,...,207,258,273,297,176,132,125,105,57,18
50153,2020-03-31,8호선,2827,모란,하차,19,87,129,225,137,...,154,159,193,266,210,91,99,84,52,51

,날짜,호선,역번호,역명,구분,06:00 이전,06:00 ~ 07:00,07:00 ~ 08:00,08:00 ~ 09:00,09:00 ~ 10:00,...,16:00 ~ 17:00,17:00 ~ 18:00,18:00 ~ 19:00,19:00 ~ 20:00,20:00 ~ 21:00,21:00 ~ 22:00,22:00 ~ 23:00,23:00 ~ 24:00,24:00 이후,분기
0,2020-01-01,1호선,150,서울역,승차,356,280,313,774,923,...,3194,3342,3002,2857,2311,2523,1830,987,25,1
1,2020-01-01,1호선,150,서울역,하차,235,952,828,1043,1694,...,2354,2261,1922,1696,1620,1181,768,426,77,1
2,2020-01-01,1호선,151,시청,승차,105,118,123,206,318,...,1019,1234,1383,1271,1061,991,572,217,2,1
3,2020-01-01,1호선,151,시청,하차,81,223,334,570,611,...,783,849,602,435,293,273,174,149,26,1
4,2020-01-01,1호선,152,종각,승차,798,366,198,236,310,...,1748,1890,1879,1827,1955,1800,1259,406,6,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202275,2020-12-31,8호선,2825,신흥,하차,31,95,78,211,145,...,341,381,428,292,229,219,85,42,0,4
202276,2020-12-31,8호선,2826,수진,승차,112,203,475,641,311,...,236,226,223,121,90,109,35,19,0,4
202277,2020-12-31,8호선,2826,수진,하차,15,70,92,227,190,...,309,300,372,296,232,202,127,45,0,4
202278,2020-12-31,8호선,2827,모란,승차,49,88,246,314,176,...,234,261,282,140,86,112,45,6,0,4
202279,2020-12-31,8호선,2827,모란,하차,15,59,111,181,142,...,183,228,183,162,71,99,39,25,3,4